---
interface Props {
  col2Heading: string;
  col3Heading?: string | undefined;
  row1Col1: string;
  row1Col2: string;
  row1Col3?: string | undefined;
  row2Col1: string;
  row2Col2: string;
  row2Col3?: string | undefined;
  row3Col1: string;
  row3Col2: string;
  row3Col3?: string | undefined;
  isOneRowOneCell?: boolean | undefined;
}
const {
  col2Heading,
  col3Heading,
  row1Col1,
  row1Col2,
  row1Col3,
  row2Col1,
  row2Col2,
  row2Col3,
  row3Col1,
  row3Col2,
  row3Col3,
  isOneRowOneCell,
} = Astro.props;

const isTwoCols = !col3Heading && !row1Col3 && !row2Col3 && !row3Col3;
const isThreeCols = !isTwoCols;
const gridCols = isTwoCols ? "grid-cols-2" : "grid-cols-3";
const rowStyle = `px-2 py-4 grid ${gridCols} justify-items-center items-center text-center lg:text-left rounded-lg bg-stone-50`;
const colStyle = isOneRowOneCell ? "col-span-2 md:col-span-1" : ``;
const cellTextColour = "text-gray-500";
---

<div class="mt-5 mx-3 md:mx-8 lg:mx-10 grid grid-rows-4 gap-y-2">
  <div class={rowStyle}>
    <div
      class={`${
        isTwoCols ? "col-span-2" : "col-start-2"
      } text-center lg:text-left`}
    >
      <span class="text-lg text-gray-800">{col2Heading}</span>
    </div>
    {
      isThreeCols && (
        <div class="col-start-3 text-center lg:text-left">
          <span class="text-lg text-gray-800">{col3Heading}</span>
        </div>
      )
    }
  </div>
  <div class={rowStyle}>
    <div class={colStyle}>
      <span class="font-bold text-theme-red text-xl">{row1Col1}</span>
    </div>
    <div class={colStyle}>
      <span class={cellTextColour}>{row1Col2}</span>
    </div>

    {
      isThreeCols && (
        <div>
          <span class={cellTextColour}>{row1Col3}</span>
        </div>
      )
    }
  </div>
  <div class={rowStyle}>
    <div class={colStyle}>
      <span class="font-bold text-theme-orange text-xl">{row2Col1}</span>
    </div>
    <div class={colStyle}>
      <span class={cellTextColour}>{row2Col2}</span>
    </div>
    {
      isThreeCols && (
        <div>
          <span class={cellTextColour}>{row2Col3}</span>
        </div>
      )
    }
  </div>
  <div class={rowStyle}>
    <div class={colStyle}>
      <span class="font-bold text-theme-blue text-xl">{row3Col1}</span>
    </div>
    <div class={colStyle}>
      <span class={cellTextColour}>{row3Col2}</span>
    </div>
    {
      isThreeCols && (
        <div>
          <span class={cellTextColour}>{row3Col3}</span>
        </div>
      )
    }
  </div>
</div>
