---
import Arrow from "../../icons/Arrow.astro";
import CardHeading from "./CardHeading.astro";
import CheckMarkListItem from "./CheckMarkListItem.astro";

interface PlanFeature {
  text: string;
  tooltip?: string;
  ariaDescribedBy?: string;
}

interface Props {
  name: string;
  nameColour: `text-${string}`;
  description: string;
  price: string;
  features: PlanFeature[];
  isOneOff?: boolean;
}

const {
  name,
  nameColour,
  description,
  features,
  price,
  isOneOff = true,
} = Astro.props;
---

<div class="flex flex-col rounded-lg border-2 border-gray-500">
  <CardHeading
    name={name}
    nameSize="text-2xl 2xl:text-3xl"
    nameColour={nameColour}
    description={description}
    descriptionColour="text-gray-500"
  />
  <div class="h-20 border-t-2 border-gray-500">
    <div class="mt-4 flex flex-col items-center">
      <span class="text-gray-800 font-bold text-3xl 2xl:text-4xl">{price}</span
      >{isOneOff && <span class="text-gray-500 -mt-1">one-off fee</span>}
    </div>
  </div>
  <div class="flex-1">
    <ul class="mt-20 mx-5">
      {
        features.map((item) => (
          <CheckMarkListItem
            text={item.text}
            tooltip={item.tooltip}
            ariaDescribedBy={item.ariaDescribedBy}
          />
        ))
      }
    </ul>
  </div>
  <a
    href="/contact-me"
    class="mt-10 mb-5 mx-5 py-2 group transition-colors flex items-center justify-center gap-4 rounded-3xl bg-gray-800 text-white hover:bg-gray-600"
  >
    <span>Contact me</span>
    <span>
      <Arrow
        styles="w-7 h-7 fill-white group-hover:translate-x-3 2xl:group-hover:translate-x-6 transition-transform"
      />
    </span>
  </a>
</div>
