---
import Arrow from "../../icons/Arrow.astro";

interface Props {
  buttonType: "primary" | "secondary" | "mobileMenuPrimary" | "smallPrimary";
  text: string;
  href: string;
  isHiddenForMobile?: boolean;
}
const { buttonType, text, href, isHiddenForMobile } = Astro.props;

function getButtonStyles() {
  const baseStyle =
    "group transition-colors rounded-full inline-flex justify-center gap-1 items-center";

  switch (buttonType) {
    case "primary":
      return `${baseStyle} px-5 py-3 md:px-8 md:py-4 bg-gray-800 text-white hover:bg-gray-600`;
    case "mobileMenuPrimary":
      return `${baseStyle} text-2xl px-10 py-4 md:px-4 bg-gray-800 text-white hover:bg-gray-600`;
    case "smallPrimary":
      return `${baseStyle} px-3 py-1 md:px-4 md:py-2 text-xs md:text-sm bg-gray-800 text-white hover:bg-gray-600`;
    case "secondary":
      return `${baseStyle} px-4 py-3 md:px-8 md:py-4 bg-transparent hover:bg-gray-100`;
  }
}

function getArrowStyles() {
  const baseStyle = "w-6 h-6 group-hover:translate-x-3 transition-transform";
  switch (buttonType) {
    case "secondary":
      return `stroke-black fill-black ${baseStyle}`;
    default:
      return `stroke-white fill-white ${baseStyle}`;
  }
}
---

<a
  href={href}
  class={`${getButtonStyles()} ${isHiddenForMobile && "hidden lg:flex"}`}
>
  <span>{text}</span>
  <span>
    <Arrow styles={getArrowStyles()} />
  </span>
</a>
